<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Zifei Shan, M.S. student in Stanford University">
  <meta name="keywords" content="Zifei Shan, Stanford, Peking University, PKU, Beida, Computer Science, Technion">

  <title>Zifei Shan | {{title}}</title>
  <!--<link rel="icon" href="images/favicon.gif" type="image/x-icon"/>-->
  <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon"/>
  <link href="{{css: styles/style.css}}" rel="stylesheet">
</head>

<body class="{{title}}">

<div class="upper">
<div class="bs-header" id="content">
  <div class="container">
    <h1>Zifei Shan</h1>
    <p>Improve myself,</p>
    <p>Impact the world.</p>
  </div>
</div>
{{partial: nav}}
</div>

<div class="container">
    <div class="content">
      {{content}}
    </div>
</div>

<div class="footerContainer"><div class="footer">
{{partial: footer}}
</div></div>


<script type="text/javascript" src="{{js: scripts/libraries.js}}"></script>
<script type="text/javascript" src="/scripts/main.js"></script>
<script type="text/javascript">
$(function() {
  var $window = $(window);
  var fillWindow = function() {
    var $body = $('body');
    var windowH = $window.height();
    if ($body.height() < windowH) {
      $body.height(windowH);
    } else {
      $body.height('auto');
    }
  };
  $window.resize(fillWindow);
  fillWindow();

  $('.contentContainer').css('padding-bottom', $('.footerContainer').outerHeight());
});
</script>
</body>
</html>