<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Zifei Shan | {{title}}</title>
  <!--<link rel="icon" href="images/favicon.gif" type="image/x-icon"/>-->
  <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <!--<link rel="shortcut icon" href="images/favicon.gif" type="image/x-icon"/>-->
  <link href="{{css: styles/style.css}}" rel="stylesheet">
</head>

<body class="{{title}}">

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <!-- <a class="brand" href="/">Zifei Shan</a> -->
      <div class="brand" style="padding: 5px 20px 0px">
        <img class="thumb" title="PKU" src="{{ref:images/pkulogo.png}}" href="http://www.pku.edu.cn"/ >
        <a href="/" style="color: whiteSmoke">Zifei Shan</a>
      </div>
      <div class="nav-collapse">
        <ul class="nav">
          {{partial: nav}}
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<!-- <div class="taglineContainer"><div class="taglineContent"><div class="tagline">38 events on 4 continents have given rise to 27 companies receiving $7 million in funding. 13 companies from 3DS have been accepted to accelerators such as Y Combinator, TechStars, and 500 Startups.</div></div></div>
 -->
<div class="container contentContainer">

<div class="content">
  {{content}}
</div>

</div> <!-- /container -->

<div class="footerContainer"><div class="footer">
{{partial: footer}}
</div></div>

<script type="text/javascript" src="{{js: scripts/libraries.js}}"></script>
<script type="text/javascript">
$(function() {
  var $window = $(window);
  var fillWindow = function() {
    var $body = $('body');
    var windowH = $window.height();
    if ($body.height() < windowH) {
      $body.height(windowH);
    } else {
      $body.height('auto');
    }
  };
  $window.resize(fillWindow);
  fillWindow();

  $('.contentContainer').css('padding-bottom', $('.footerContainer').outerHeight());
});
</script>
</body>
</html>