body {
  /*background-image: url(/images/bgworld.jpg);*/
  /*background-repeat: repeat;*/
  /*background-color: #aaffaa;*/
  position: relative;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
}
ul.nav p {
  display: none;
  margin: 0 0 0 0;
}

.navbar {
  /*background: url(/images/bar.png) no-repeat;*/
  background-color: #222;
  background-position: right top;
}
.navbar p {
  margin: 0 0 0 0;
}
.upper p {
  margin: 0 0 0 0;
}

.navbar-nav.nav>li>a:hover,
.navbar-nav.nav>li>a:focus {
  color: #eeeeee;
}

.bs-header {
  padding: 100px 100px 200px 0;
  color: #aaffaa;
}
.bs-header h1 {
  font-size: 4em;
} 
.bs-header p {
  font-size: 2em;r
} 
h1,h2,h3,h4,h5,h6,code,pre,input,button,
  select,textarea,.navbar-search,.navbar,div.subnav {
    font-family: 'PT Sans', sans-serif;
}

.bs-docs-home,
.bs-header {
  background: url(/images/header.jpg) no-repeat fixed;
  height: 600px;
  width: 100%;
  background-size: 100%;
  /*color: #cdbfe3;
  background-color: #563d7c;
  background-image: url(/images/header.jpg);*/
}

.row img {
  max-width: 100%;
}

.footerContainer {
  overflow: hidden;
  /*background-image: url(/images/trans-pattern.png);*/
  /*background-repeat: repeat;*/
  background-color: #000000;
  padding: 0.5em 0;
  text-align: center;
  color: #336600;
}

.thumbnail {
  border: 1px solid #338833;
}

a {
  color: #33AA00;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #336600;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.bs-sidenav {
  border: 1px solid #338833;
  padding: 10px;
  background-color: #c8ffb4;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  max-width: 100%;
  height: auto;
  display: block;
}
/*
.bs-sidenav.active {
  margin: 1px;
}*/

.bs-sidenav.nav>a:hover,
.bs-sidenav.nav>a:focus {
  background-color: #33aa00;
  text-decoration: none;
}